.search-container {
  position: relative;
}

.search-icon-only {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.search-icon-only:hover {
  transform: scale(1.1);
}

/* barra di ricerca aperta */
.search-form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #222;
  padding: 4px 8px;
  overflow: hidden;
  animation: expandSearch 0.3s ease forwards;
  border: 1px solid transparent;
}

.search-form:focus-within {
  border-color: #fff;
}

.search-form input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  outline: none;
  padding: 4px 4px;
  opacity: 0;
  animation: fadeInInput 0.2s ease 0.15s forwards;
}

.search-icon-inside {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.search-icon-inside:hover {
  transform: scale(1.1);
}

/*animazione barra di ricerca */
@keyframes expandSearch {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    width: 15rem;
    opacity: 1;
  }
}

@keyframes fadeInInput {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}