.movies-page {
    background: #000;
    min-height: 100vh;
    padding: 80px 20px 40px;
    color: white;
}

.home {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.3s ease;
}

.page-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: 700;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.filter-container label {
    font-size: 20px;
}

.select-filter {
    padding: 10px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    backdrop-filter: blur(6px);
    transition: 0.3s ease;
}

.select-filter:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.select-filter option {
    background: #111;
    color: white;
}

/* Griglia per categoria */
.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.movie-card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.movie-card-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-card-grid img:hover {
    transform: scale(1.05);
}

.movie-card-grid p {
    margin-top: 6px;
    font-size: 20px;
    text-align: center;
}


.fav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
    outline: none;
}

.fav-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}




/* Carosello generico */
.movie-row {
    margin-bottom: 50px;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.movies-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    gap: 15px;
}

.movie-card {
    min-width: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.movie-img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.movie-img:hover {
    transform: scale(1.05);
}

.top10-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.top10-number {
    font-size: 280px;
    font-weight: 900;
    line-height: 1;
    display: block;
    color: black;
    margin-right: -50px;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 4px rgba(199, 203, 209, 1);
    text-shadow: none;
}

