.home {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: color 0.3s ease;
}

.home:hover {
    color: #B20710;
}

.favorites-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}

.favorites-grid .movie-card {
    width: 100%;
}

.favorites-grid .movie-card img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

h1 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}