.home {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: color 0.3s ease;
}

.home:hover {
  color: #b20710;
}

.favorites-grid {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr)); 
  gap: 0.9375rem;
  padding: 0.625rem 1.25rem; 
}

.favorites-grid .movie-card {
  position: relative;
  transition: transform 0.3s ease;
}

.favorites-grid .movie-card img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem; 
}

.favorites-grid .movie-card:hover {
  transform: scale(1.03); 
}

h1 {
  color: white;
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: 2rem;
}
