.home {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}
   .home:hover {
        color: #B20710; 
    }