.home {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.3s ease;
}

.home:hover {
    color: #B20710;
}

.favorites-grid {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
}

.favorites-grid .movie-card {
    width: 100%;
}

.favorites-grid .movie-card img {
    width: 100%;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

h1 {
    color: white;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 2rem;
}

