.home {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: color 0.3s ease;
}

.home:hover {
  color: #b20710;
}

.favorites-grid {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr)); 
  gap: 4rem;
  padding: 0.625rem 1.25rem;
  bottom: 2rem; 
  padding-bottom: 4rem
}

.favorites-grid .movie-card {
  position: relative;
  transition: transform 0.3s ease;
  height: 22rem; 
  width: 14.5rem;
  border-radius: 1rem;
}

.favorites-grid .movie-card img {
  height: 100%; 
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.favorites-grid .movie-card .fav-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.375rem;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
  z-index: 2;
}

.favorites-grid .movie-card .fav-btn:hover {
  transform: scale(1.2);
}

h1 {
  color: white;
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: 2rem;
}
