.carousel {
    position: relative;
    display: flex;
    align-items: center;


}

h2 {
    margin-top: 70px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.movies-scroll {
    cursor: pointer;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.2s ease;

}

.arrow:hover {
    transform: translateY(-50%) scale(1.1);

}

.arrow.left {
    left: 5px;
    top: 45%;
}

.arrow.right {
    right: 5px;
    top: 45%;
}

.movie-card {
    position: relative;
    transition: transform 0.3s ease;

}

.movie-img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-card p {
    text-align: center;

}

.movie-card:hover {
    transform: scale(1.03);

}

.fav-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
    z-index: 2;
}

.fav-btn:hover {
    transform: scale(1.2);
}