.carousel {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  /* Mantieni il carosello sopra il contenuto */
}


h2 {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}


.movies-scroll {
  cursor: pointer;
  display: flex;
  gap: 0.9375rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0.625rem 1.25rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 4.5rem;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s ease, opacity 0.3s ease;
  opacity: 0;
  /* Invisibile di default */
}

.carousel:hover .arrow {
  opacity: 1;
  /* Visibile solo quando si passa con il mouse sul carosello */
}

.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow.left {
  left: 5px;
  top: 45%;
}

.arrow.right {
  right: 5px;
  top: 45%;
}

.movie-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-img {
  height: auto;
  width: auto;
  max-height: 22rem;
  max-width: 14.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.movie-card p {
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.03);
}

.fav-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.375rem;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
  z-index: 2;
}

.fav-btn:hover {
  transform: scale(1.2);
}

body {
  margin-top: 4rem;
}

.top10-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.top10-number {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px rgba(199, 203, 209, 1);
    text-shadow: none;
}