*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: black;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--nav-font);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-logo img {
    width: 140px;
    height: auto;
}



.navbar-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    white-space: nowrap;
}

.navbar-links .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 8px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.navbar-links .nav-link:hover,
.navbar-links .nav-link:focus {
    color: #B20710;
}

.navbar-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #E50914;
}

.navbar-user:hover {
    filter: brightness(1.2);
}