*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 2.5rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, backdrop-filter 0.3s ease, padding 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-logo img {
  width: 8.75rem;
  height: auto;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  white-space: nowrap;
}

.navbar-links .badge {
  background-color: #e50914;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 12px;
  position: absolute;
  top: -10px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links .nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  align-items: center;
  position: relative;
  display: flex;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
}

.navbar-links .nav-link:hover,
.navbar-links .nav-link:focus {
  color: #b20710;
}

.navbar-links .nav-link.active {
  color: #e50914;
  border-bottom: 2px solid #e50914;
}

.navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #e50914;
}

.navbar-user:hover {
  filter: brightness(1.2);
}

.navbar-user:hover {
  filter: brightness(1.2);
}

.search {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  margin-top: 5px;
}

.navbar-user:hover {
  filter: brightness(1.2);
}

/* Media Queries for Navbar with Hamburger Menu */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    width: 85%;
  }

  .navbar-links {
    display: none; /* Hide links by default on mobile */
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex; /* Show links when active */
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none; /* Hide hamburger menu on desktop */
  }
}