.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: var(--netflix-white);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: var(--nav-font);
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--netflix-black);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    color: var(--netflix-red);
    text-decoration: none;
    margin-right: 30px;
}

.navbar-links {
    display: flex;
}

.navbar-links .nav-link {
    color: var(--netflix-white);
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.navbar-links .nav-link:hover,
.navbar-links .nav-link:focus {
    color: var(--netflix-dark-red);
}
.search {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

/* stile per l’icona utente */
.navbar-user {
    color: red;
    /* se vuoi, puoi aggiungere cursor: pointer; */
    cursor: pointer;
}